<!-- <html>  
<head>  
<script id="pgScript" src="https://pp
checkout.jiopay.com:8443/nativecheckout/v1/script.js"></script>  
</head>  
<body>  
<input type='hidden' id="appidtoken" name="appidtoken" value="b71wYilO="/>  
<input type='hidden' id="appaccesstoken" name="appaccesstoken" value="SS"/>  
<input type='hidden' id="intentid" name="intentid" 
value="10562107158140880000"/>  
<button id="btnjmpay" onclick="pay()">Pay</button>  
<script>  
var params = {  
"appaccesstoken": document.getElementById("appaccesstoken").value,  
"appidtoken": document.getElementById("appidtoken").value,  
"intentid": document.getElementById("intentid").value,  
"theme": {  
"brandColor":"#3a3ad6",  
"bodyBgColor": "#ffffff",  
"bodyTextColor":"#000000",  
"headingText": "#ffffff"  
}  
"paymentHandler": function(tid,intentid,status,message){  
//handle response here  
}  
};  
function pay(){  
window.JioPay(params);  
}  
</script>  
</body>  
</html>   -->